<div block="b-why">
	<div elem="content" class="site-width">
		<h2 elem="title">Почему мы?</h2>
		<div elem="container">
			<div elem="img"><img src="img/why-img.png" alt=""></div>
			<div elem="items">
				<div elem="item">
					<div elem="check" mods="first"><img src="img/line1.svg" alt=""></div>
					<div elem="radio"><img src="img/radio.svg" alt=""></div>
					<div elem="block">
						<div elem="block-title">Экспертный подход</div>
						<div elem="block-text">Опыт в продвижении сайтов с 2008 г. За это время было реализовано более 300 успешных проектов из разных сфер бизнеса</div>
					</div>
				</div>	
				<div elem="item">
					<div elem="check" mods="second"><img src="img/line2.svg" alt=""></div>
					<div elem="radio"><img src="img/radio.svg" alt=""></div>
					<div elem="block">
						<div elem="block-title">Погружение в бизнес</div>
						<div elem="block-text">Мы не ищем шаблонных решений, так как у каждого бизнеса есть свои задачи и процессы, без погружения в которые высокого результата не достичь</div>
					</div>
				</div>	
				<div elem="item">
					<div elem="check" mods="third"><img src="img/line3.svg" alt=""></div>
					<div elem="radio"><img src="img/radio.svg" alt=""></div>
					<div elem="block">
						<div elem="block-title">Высокие показатели</div>
						<div elem="block-text">Имеем кейсы с высокими показателями в высококонкурентных тематиках. Ни один из сайтов клиентов не оказался под фильтром и не попал в бан</div>
					</div>
				</div>	
				<div elem="item">
					<div elem="check" mods="fourth"><img src="img/line4.svg" alt=""></div>
					<div elem="radio"><img src="img/radio.svg" alt=""></div>
					<div elem="block">
						<div elem="block-title">Гарантии</div>
						<div elem="block-text">Даем финансовые гарантии о достижении результата. Закрепляем прогноз роста позиций в договоре</div>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div><!-- b-why -->