.b-why
	margin 30px 0 120px 0 
	
	&__container 
		display flex
		align-items center
		
	&__img 
		flex 1 
		
	&__item
		display flex
		margin-bottom 40px
		max-width 570px 
		position relative
			
	&__check 
		position absolute
		&--first 
			left -85%
			top 0
			
		&--second 
			left -62%
			top -58%
			
		&--third
			left -83%
			top -25%
			
		&--fourth
			left -37%
			top -40%

		
	&__block 
		
		&-title 
			font-weight bold
			font-size 18px
			line-height 1.5
			color #231F20
			margin-bottom 12px
			
		&-text 
			font-size 16px
			line-height 1.5
			color #231F20
			
	&__radio 
		min-width 12px
		max-width 12px 
		display none
					
	@media screen and (max-width: 1280px) 
		&__container 
			display block
			position relative
			
		&__img 
			position absolute
			right 0
			
		&__radio 
			display block
			
		&__block 
			margin-left 20px
			
		&__check 
			display none
			
	@media screen and (max-width: 1024px) 
		margin 80px 0 
			
	@media screen and (max-width: 768px) 
		margin 60px 0 
		
		&__img 
			display none
			
		&__block 
			margin-left 10px
			
		&__item 
			max-width 100%
			margin-bottom 20px
			
	@media screen and (max-width: 480px)
		margin 40px 0 
		
		&__block 
			margin-left 5px


			
