.b-services
	margin 120px 0 

	&__items 
		display flex
		flex-wrap wrap 
		margin-left -30px
		
	&__item 
		width calc(33.33% - 30px)
		margin-left 30px
		position relative
		background #FFFFFF
		box-shadow 0px 2px 12px rgba(0, 0, 0, 0.1)
		border-radius 2px
		&-title 
			font-weight bold
			font-size 18px
			line-height 1.2
			color #231F20
			margin-bottom 12px
			
		&-text 
			font-size 16px
			line-height 1.5
			color #231F20
			margin-bottom 30px
			flex 1 
			
	&__img 
		background-size cover
		background-repeat no-repeat
		background-position 50% 50%
		img 
			opacity 0 
			visibility hidden
			
	&__block 
		padding 30px 25px 
		display flex
		flex-direction column
		justify-content space-between
		
	&__sum 
		position absolute
		left -10px
		top 20px
		font-weight bold
		font-size 18px
		line-height 1.2
		color #FFFFFF
		background #29C5ED
		border-radius 0px 2px 2px 0px
		padding 12px 26px 
		
	@media screen and (max-width: 1280px) 
		&__item 
			&-text 
				min-height 72px
				
	@media screen and (max-width: 1024px) 
		margin 80px 0

		&__item 
			width calc(50% - 20px)
			margin-left 20px
			margin-bottom 20px
			&-text 
				min-height 1px
			
		&__items 
			margin-left -20px
			justify-content center
			
	@media screen and (max-width: 768px) 
		margin 60px 0 
		
		&__item 
			width 100%
			margin-left 0
			&-text 
				margin-bottom 20px
				
			
		&__items 
			margin-left 0
			
		&__block 
			padding 20px 20px
			
		&__sum
			font-size 16px
			
	@media screen and (max-width: 480px) 
		margin 40px 0 