<div block="b-services">
	<div elem="content" class="site-width">
		<h2 elem="title">Популярные услуги</h2>
		<div elem="items">
			<div elem="item">
				<div elem="sum">10 000 ₽</div>
				<div elem="img" style="background-image: url(img/services-img1.png);"><img src="img/services-img1.png" alt=""></div>
				<div elem="block">
					<div elem="item-title">Контекстная реклама</div>
					<div elem="item-text">Продажи - с момента запуска рекламной компании. Только целевая аудитория!</div>
					<a href="#" elem="button" class="btn-2">Подробнее</a>
				</div>
			</div>
			<div elem="item">
				<div elem="sum">30 000 ₽</div>
				<div elem="img" style="background-image: url(img/services-img2.png);"><img src="img/services-img2.png" alt=""></div>
				<div elem="block">
					<div elem="item-title">SMM: реклама в соцсетях</div>
					<div elem="item-text">Продвижение и реклама в социальных сетях</div>
					<a href="#" elem="button" class="btn-2">Подробнее</a>
				</div>
			</div>
			<div elem="item">
				<div elem="sum">15 000 ₽</div>
				<div elem="img" style="background-image: url(img/services-img3.png);"><img src="img/services-img3.png" alt=""></div>
				<div elem="block">
					<div elem="item-title">SEO-аудит</div>
					<div elem="item-text">Создание имиджа и нейтрализация негатива в сети</div>
					<a href="#" elem="button" class="btn-2">Подробнее</a>
				</div>
			</div>
		</div>	
	</div>
</div><!-- b-services -->