<div block="b-form">
	<div elem="content" class="site-width">
		<h2 mods="small" elem="title">Узнайте перспективы продвижения Вашего сайта</h2>
		<form action="#" elem="form">
			<input type="text" required="">
			<input type="text" required="">
			<input type="text" required="">
			<textarea placeholder="gsdagsgad"></textarea>
			<input type="file">
		</form>
	</div>
</div><!-- b-form -->