.b-main 
	background-size cover
	background-repeat no-repeat
	background-position 0 50%
	
	&__block
		display flex
		align-items center
	
	&__info 
		flex 1 0 auto
		padding 120px 0 100px 0
		&-in 
			max-width 424px
			width 100%
	
	&__title 
		font-weight: bold;
		font-size: 120px;
		line-height: 1.4;
		color: #29C5ED;
		padding-bottom 5px
		
	&__subtitle 
		font-size: 20px;
		line-height: 1.2;
		color: #29C5ED;
		padding-bottom 24px
		
		&--weight 
			padding-bottom 12px
			font-weight: bold;
			font-size: 18px;
			line-height: 1.2;
			color: #29C5ED;
			
	&__text 
		font-size: 16px;
		line-height: 1.5;
		color: #231F20;
		margin-bottom 24px
		
	&__items 
		background #FFFFFF
		box-shadow 0px 2px 12px rgba(0, 0, 0, 0.1)
		border-radius 10px
		padding 40px 70px 51px 
		&-in 
			display flex
			flex-wrap wrap 
			margin-left -92px
			
		
	&__item 
		width calc(33.33% - 92px)
		margin-left 92px
		text-align center
		&-img 
			margin-bottom 20px
			
		&-title 
			font-weight bold
			font-size 18px
			line-height 1.2
			color #231F20
			margin-bottom 12px
			
		&-text 
			font-size 16px
			line-height 1.5
			color #231F20
			
	@media screen and (max-width: 1280px) 
		&__info 
			padding 50px 0 
			
	@media screen and (max-width: 1024px) 
		&__item
			width calc(50% - 20px)
			margin-left 20px
			margin-bottom 20px
			
		&__items
			padding 30px 50px 
			&-in
				justify-content center 
				margin-left -20px
				

			
	@media screen and (max-width: 768px) 
		&__item 
			width 100%
			margin-left 0 
			margin-bottom 30px
			&:last-child 
				margin-bottom 0
				
			
		&__items 
			padding 30px 20px 
			&-in 
				margin-left 0 
				
		&__title 
			font-size 90px
			line-height 1.2
			
		&__info 
			padding 30px 0
			&-in 
				max-width none
				
		&__block 
			display block 
			
		&__subtitle 
			padding-bottom 12px
			font-size 16px
			
		&__img 
			display none
			
			
	@media screen and (max-width: 480px) 
		&__title 
			font-size 48px
		
			

			
				

				

				
			
				
		
