<div block="b-main" style="background-image: url(img/main-bg.jpg);">
	<div elem="content" class="site-width">
		<div elem="block">
			<div elem="info">
				<div elem="info-in">
					<div elem="title">SEO</div>
					<div elem="subtitle">Расширяй канал продаж без забот</div>
					<div elem="subtitle" mods="weight">Тариф “Все включено” от 25 000 р.</div>
					<div elem="text">Продающий копирайтинг, веб-поддержка, аудит сайта, улучшение конверсии и репутации в поисковой выдаче, личное общение с SEO-специалистом, персональный менеджер проекта</div>
					<a href="#popup" class="btn-1" elem="button">Получить индивидуальный расчет</a>
				</div>
			</div>	
			<div elem="img"><img src="img/main-img.png" alt=""></div>
		</div>
		<div elem="items">
			<div elem="items-in">
				<div elem="item">
					<div elem="item-img"><img src="img/main-icon1.svg" alt=""></div>
					<div elem="item-title">Работа на результат</div>
					<div elem="item-text">Придерживаемся установленных KPI. Гарантии закрепляем в договоре</div>
				</div>	
				<div elem="item">
					<div elem="item-img"><img src="img/main-icon2.svg" alt=""></div>
					<div elem="item-title">Поддержка</div>
					<div elem="item-text">В тариф включены все необходимые технические работы для внедрения систем аналитики и основных изменений на сайте</div>
				</div>
				<div elem="item">
					<div elem="item-img"><img src="img/main-icon3.svg" alt=""></div>
					<div elem="item-title">Комплексный подход</div>
					<div elem="item-text">Прорабатываем техническую часть, контентную, коммерческие факторы: как внешние так и внутренние</div>
				</div>
			</div>
		</div>	
	</div>
</div><!-- b-main -->