<div block="b-user">
	<div elem="content" class="site-width">
		<div elem="container">
			<div elem="item">
				<div elem="img"><img src="img/user-img.png" alt=""></div>
				<div elem="bg"><img src="img/bg-user2.svg" alt=""></div>
				<div elem="item-block">
					<div elem="item-title">Андрей Власенко</div>
					<div elem="item-subtitle">Руководитель отдела продаж</div>
					<div elem="item-text">
						<p>Наша задача — увеличить видимость сайта в поисковой выдаче и привлечь клиентов для Вашего бизнеса. Для этого мы используем всесторонний анализ, сервисы поисковых систем и собственные инструменты.</p>
						<p>Наши Seo-специалисты не оторваны от бизнес-процессов клиентов, так как проводят совместные ежемесячные совещания и корректируют стратегию для максимального результата.</p>
					</div>
				</div>	
			</div>	
		</div>	
	</div>
</div><!-- b-user -->


