.b-user
	position relative
	overflow hidden
	margin 20px 0 70px 0 
	&:before 
		content ''
		position absolute
		background: linear-gradient(270deg, #3CDCD2 -70.27%, #3CDCD2 3.33%, #29C5ED 70.2%);
		width 100%
		top 50%
		transform translateY(-50%)
		height 311px
		z-index -1
	
	&__content 
		padding 15px 
		
	&__container
		background-image url(../img/bg-user.svg)
		background-size cover
		background-repeat no-repeat
		padding 91px 108px 91px 103px
		
	&__item 
		display flex
		align-items center
		position relative
		z-index 1
		&-block 
			width 570px
			
		&-title 
			margin-bottom 16px
			font-weight bold
			font-size 34px
			line-height 1.4
			color #231F20
			
		&-subtitle 
			font-size 18px
			line-height 1.2
			color #29C5ED
			margin-bottom 30px
			
		&-text 
			font-size 16px
			line-height 1.5
			color #231F20
			p 
				margin-bottom 15px 
				&:last-child 
					margin-bottom 0
		
	&__img 
		flex 1 
		
	&__bg 
		position absolute
		right 5px
		top -35px
	
	@media screen and (max-width: 1280px) 
		&__item 
			&-block 
				width 520px
				
	@media screen and (max-width: 1024px) 
		margin 80px 0 
		&__item 
			display block
			

		&__container
			background-image none 
			background #FFFFFF
			box-shadow 0px 2px 12px rgba(0, 0, 0, 0.1)
			border-radius 10px
			padding 50px
			
		&__img 
			position absolute
			right 20px
			top -20px
			text-align right
			z-index -1
			opacity 0.6
			img 
				width 80%
				
		&__bg 
			right -25px
			top -75px
		 
	@media screen and (max-width: 768px) 
		margin 60px 0 
		&__img 
			display none	
			
		&__item 
			&-block 
				width 100%	
				
			&-title 
				font-size 24px
				line-height 1.2
				
		&__container 
			padding 30px
			
	@media screen and (max-width: 480px) 
		margin 40px 0 
		&__item 
			&-subtitle 
				margin-bottom 15px
				font-size 16px
			
			&-text 
				font-size 15px
				
		&__bg 
			top -10px
			right -55px
			img 
				width 80px
				



			
