.b-audit
	overflow hidden
	margin 30px 0 
	
	&__block
		background-image url(../img/bg-audit.svg)
		background-size cover
		background-repeat no-repeat
		position relative
		margin 70px  0 

	&__bg
		position absolute
		left -125px
		top -78px
		z-index -1
		
	&__container 
		padding 115px 130px 
		display flex
		align-items center
		
	&__title 
		font-weight bold
		font-size 34px
		line-height 1.2
		color #231F20
		margin-bottom 20px
		
	&__info 
		flex 1 
		
	&__text 
		font-size 16px
		line-height 1.2
		color #231F20
		
	&__button 
		max-width 240px
		
	@media screen and (max-width: 1024px) 
		&__container 
			display block
			padding 50px
			
		&__title 
			margin-bottom 10px
			
		&__info 
			margin-bottom 20px
			
		&__block
			background-image none 
			margin 60px 0 
		
		&__container 
			background #FFFFFF
			box-shadow 0px 2px 12px rgba(0, 0, 0, 0.1)
			border-radius 10px
			
	@media screen and (max-width: 768px) 
		&__title 
			font-size 24px
			
		&__container 
			padding 30px 20px 
			
		&__block
			margin 20px 0 
			
		&__bg 
			width 300px
			left -20px
			top -40px
			
