<div block="b-audit">
	<div elem="content" class="site-width">
		<div elem="block">
			<div elem="bg"><img src="img/bg-audit2.svg" alt=""></div>
			<div elem="container">
				<div elem="info">
					<div elem="title">Бесплатный аудит по SEO!</div>
					<div elem="text">SEO – надежный канал привлечения лидов для любого бизнеса</div>
				</div>		
				<a href="#" elem="button" class="btn-1">Записаться на аудит</a>
			</div>
		</div>
	</div>
</div><!-- b-audit -->