<div block="remodal" data-remodal-id="popup" data-remodal-options="hashTracking: true, closeOnOutsideClick: true">
    <div data-remodal-action="close" class="remodal-close"></div>
    <div class="remodal-content">
    	<form block="remodal-form" action="">
    		<div elem="title">Напишите нам</div>
    		<div elem="item">
    			<input required="" type="text" placeholder="Ваше имя">
    		</div>
    		<div elem="item">
    			<input required="" type="text" placeholder="Телефон">
    		</div>
    		<div elem="item">
    			<input required="" type="mail" placeholder="E-mail">
    		</div>
    		<div elem="item">
    			<textarea required="" placeholder="Сообщение"></textarea>
    		</div>
			<label elem="send">
				<div block="b-check" >
					<input  type="checkbox" name="rememberPopup" required="" checked="">
					<div elem="in"></div>
				</div>
				<div  elem="send-text">
					Согласен(-на) <a href="#">на обработку персональных данных</a>
				</div>
			</label>
    		<button elem="button" type="submit" class="btn-1">Отправить</button>
    	</form>
    </div>
</div>