.remodal
	padding 40px 35px
	margin-bottom 0
	max-width 570px
	background #FFFFFF
	box-shadow 0px 2px 12px rgba(0, 0, 0, 0.1)
	border-radius 10px
	@media screen and (max-width: 480px) 
		padding 30px 20px
	
.remodal-form  
	
	&__title 
		font-weight bold
		font-size 34px
		line-height 1.2
		color #231F20
		margin-bottom 30px
		text-align center

		
	&__item 
		margin-bottom 10px
		input,
		textarea
			outline none 
			border 1px solid #EEEEEE
			box-sizing border-box
			border-radius 2px
			font-size 16px
			line-height 19px
			color #8A8A8A
			width 100%
			padding 17px 20px
			&::placeholder
				color #8A8A8A
				
		textarea 
			resize none 
			height 55px
			
	&__button 
		margin-top 30px
		max-width 230px


	&__send 
		display flex
		align-items center
		justify-content center
		
		&-text 
			margin-left 8px
			font-size 14px
			line-height 1.2
			color #231F20
			a 
				color #29C5ED
				text-decoration underline
				&:hover 
					text-decoration none
					
	@media screen and (max-width: 768px) 
		&__title 
			font-size 24px

			
	@media screen and (max-width: 480px) 	
			
		&__item 
			textarea,
			input 
				padding 9px 10px
				font-size 14px
				
		&__send-text 
			text-align left
			
		&__button 
			margin-top 15px
			


.b-check 
	display inline-block
	cursor pointer 
	position relative
	width 20px
	height 20px
	min-width 20px
	input 
		position absolute
		left 50%
		transform translateX(-50%)
		bottom 0
		opacity 0
		width 24px
		height 24px
		z-index 2
		cursor pointer 
		margin-bottom 0
	&__in 
		height 20px
		background #fff 
		border-radius 3px
		border 1px solid #3CDCD2
		background-color #fff
		transition .4s ease all
			
		&:before 
			content ''
			display block
			position absolute
			top 46%
			left 50%
			height 6px
			width 12px
			border-left 2px solid #3CDCD2
			border-bottom 2px solid #3CDCD2
			transform translate(-50% , -46%) rotate(-45deg)
			opacity 0
			
.b-check input:checked + .b-check__in:before 
	opacity 1
	
.b-check input:checked + .b-check__in
	background-color #fff
	border 1px solid #3CDCD2
	

