<div block="b-cases" style="background-image: url(img/bg-cases.svg);">
	<div elem="content" class="site-width">
		<h2 elem="title">Наши кейсы</h2>
		<div elem="items" class="owl-carousel">
			<div elem="item">
				<div elem="item-title">Кейс по продвижению сайта Транском</div>
				<div elem="item-text">Лидирующая транспортно-хозяйственная служба по г. Москва и МО <a href="https://transcom-group.ru/">https://transcom-group.ru/</a></div>
				<div elem="item-block">
					<div elem="item-img"><img src="img/cases-img1.png" alt=""></div>
					<div elem="item-table">
						<div elem="line">
							<div elem="part" mods="title">
								<b>Поисковой запрос</b>
							</div>
							<div elem="part" mods="title">
								<b>Позиция в Yandex</b>
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Производство грунта
							</div>
							<div elem="part">
								1
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Песок цена
							</div>
							<div elem="part">
								2
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Купить песок
							</div>
							<div elem="part">
								1
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Купить вторичный щебень
							</div>
							<div elem="part">
								2
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Вторичный щебень
							</div>
							<div elem="part">
								1
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Песок м³
							</div>
							<div elem="part">
								1
							</div>
						</div>
					</div>	
				</div>	
				<div elem="procent">
					<div elem="procent-item">
						<div elem="procent-title">+ 300%</div>
						<div elem="procent-text">Количество заказов</div>
					</div>
					<div elem="procent-item">
						<div elem="procent-title">+ 500%</div>
						<div elem="procent-text">Посещаемость сайта</div>
					</div>
				</div>	
			</div>
			<div elem="item">
				<div elem="item-title">Кейс по продвижению сайта ателье</div>
				<div elem="item-text">Орликов - крупнейшая сеть ателье в столице! <a href="https://orlikov.ru/">https://orlikov.ru/</a></div>
				<div elem="item-block">
					<div elem="item-img"><img src="img/cases-img2.png" alt=""></div>
					<div elem="item-table">
						<div elem="line">
							<div elem="part" mods="title">
								<b>Поисковой запрос</b>
							</div>
							<div elem="part" mods="title">
								<b>Позиция в Yandex</b>
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Покраска одежды
							</div>
							<div elem="part">
								1
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Ремонт сумок в Москве
							</div>
							<div elem="part">
								1
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Ремонт одежды в Москве
							</div>
							<div elem="part">
								3
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Ремонт сумки
							</div>
							<div elem="part">
								4
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Ателье по ремонту
							</div>
							<div elem="part">
								5
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Ремонт одежды ателье
							</div>
							<div elem="part">
								7
							</div>
						</div>
					</div>	
				</div>	
				<div elem="procent">
					<div elem="procent-item">
						<div elem="procent-title">+ 80%</div>
						<div elem="procent-text">Количество заказов</div>
					</div>
					<div elem="procent-item">
						<div elem="procent-title">+ 2070%</div>
						<div elem="procent-text">Посещаемость сайта</div>
					</div>
				</div>	
			</div>
			<div elem="item">
				<div elem="item-title">Кейс по продвижению агрегатора саун</div>
				<div elem="item-text">Крупнейший агрегатор саун в Москве <a href="https://clubsaun.ru/">https://clubsaun.ru/</a></div>
				<div elem="item-block">
					<div elem="item-img"><img src="img/cases-img3.png" alt=""></div>
					<div elem="item-table">
						<div elem="line">
							<div elem="part" mods="title">
								<b>Поисковой запрос</b>
							</div>
							<div elem="part" mods="title">
								<b>Позиция в Yandex</b>
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Сауна в Москве
							</div>
							<div elem="part">
								1
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Хамам в Москве
							</div>
							<div elem="part">
								2
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Сауна с бассейном
							</div>
							<div elem="part">
								2
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Сауны
							</div>
							<div elem="part">
								3
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Сауны
							</div>
							<div elem="part">
								5
							</div>
						</div>
						<div elem="line">
							<div elem="part">
								Баня в Москве
							</div>
							<div elem="part">
								4
							</div>
						</div>
					</div>	
				</div>	
				<div elem="procent">
					<div elem="procent-item">
						<div elem="procent-title">+ 300%</div>
						<div elem="procent-text">Количество заказов</div>
					</div>
					<div elem="procent-item">
						<div elem="procent-title">+ 1000%</div>
						<div elem="procent-text">Посещаемость сайта</div>
					</div>
				</div>	
			</div>
		</div>	
	</div>
</div><!-- b-cases -->