.b-cases 
	background-size cover
	background-repeat no-repeat
	background-position 50% 50%
	padding-top 80px
	margin 60px 0 90px 0
	overflow hidden 

	
	&__title 
		color #fff !important
	
	&__line 
		display flex 
		border-bottom 1px solid #EEEEEE
		padding 6px 0 
		&:last-child
			border-bottom none
	
	&__part
		width 50%
		padding 8px 0 
		font-size: 16px;
		line-height: 1.2;
		color: #231F20;

		&:last-child
			text-align center 
			border-left: 1px solid #EEEEEE
			
		&--title 
			padding 0
			font-size: 16px;
			line-height: 1.2;
			color: #231F20;
		
	&__item 
		background #FFFFFF
		box-shadow 0px 2px 12px rgba(0, 0, 0, 0.1)
		border-radius 10px
		padding 40px 50px 50px 
		margin 0 15px 40px
		
		&-title 
			font-weight bold
			font-size 24px
			line-height 1.3
			color #231F20
			margin-bottom 20px
			
		&-text 
			display flex
			align-items center
			justify-content space-between
			font-size 16px
			line-height 1.2
			color #231F20
			margin-bottom 30px
			a 
				text-decoration-line underline
				color #29C5ED
				&:hover 
					text-decoration none
					
		&-block 
			display flex
			margin-bottom 30px
			
		&-img 
			flex 1
		
		&-table 
			width 487px 
			margin-left 50px
					
		


	&__procent
		display flex
		align-items center
		&-item 
			margin-right 50px
			&:last-child 
				margin-right 0
				

		&-title 
			font-weight bold
			font-size 34px
			line-height 1.4
			color #29C5ED
			margin-bottom 10px
			
		&-text 
			font-size 16px
			line-height 1.2
			color #231F20
			
	&__items 
		margin 0 -15px 
		width auto !important
		
	.owl-prev,
	.owl-next 
		outline none 
		svg 
			path 
				fill #8A8A8A
				width 20px
				height 20px
				transition .4s ease all
				
			&:hover 
			.action 
				path 
					fill #3CDCD2
					
	.owl-nav 
		padding 0 15px
		display flex
		align-items center
		justify-content space-between
		
	.owl-dots 
		position absolute
		bottom 0
		width 100%
		display flex
		align-items center
		justify-content center
		height 25px
		margin-left -15px
		z-index -1
		
	.owl-dot 
		width 12px
		height 12px
		border 1px solid #3CDCD2 !important
		border-radius 50%
		position relative
		outline none
		margin-left 15px
		&:before 
			content ''
			position absolute
			width 6px
			height 6px
			border-radius 50%
			background #3CDCD2 !important
			left 50%
			top 50%
			transform translate(-50%, -50%)
			opacity 0
			visibility hidden
			
		&.active 
			&:before 
				opacity 1
				visibility visible
				

	@media screen and (max-width: 1024px) 
		margin 80px 0 

		&__item
			&-block 
				display block
				
			&-img 
				margin-bottom 20px
				
			&-table 
				width 100%
				margin-left 0
				
			&-text 
				margin-bottom 20px
				
	@media screen and (max-width: 768px) 
		margin 60px 0
		padding-top 60px

		&__item 
			padding 30px 
			&-text 
				display block
				a 
					display block
					margin-top 10px
					
			&-title 
				margin-bottom 10px
				
		&__procent 
			justify-content space-between
			
	@media screen and (max-width: 480px) 
		margin 40px 0
		padding-top 30px
		
		&__part 
			padding 6px 0 
	
		&__item 
			margin 0 15px 20px
			min-height 993px
			&-block 
				margin-bottom 20px
				
			&-title 
				font-size 21px
	
		&__procent 
			display block
			&-item 
				margin-right 0
				text-align center
				margin-top 10px
				

			
			
			
	