<div block="b-guarantees">
	<div elem="content" class="site-width">
		<h2 elem="title">Финансовые гарантии</h2>
		<div elem="items">
			<div elem="item">
				<div elem="item-title">
					<img src="img/guarantees-img1.svg" alt="">
					<span>Результат</span>
				</div>
				<div elem="item-list">
					<img src="img/check.svg" alt="">
					<span>Оплата за достигнутый результат взимается только в том случае, если позиции продвигаемых запросов стали выше, чем на момент старта сотрудничества</span>
				</div>
				<div elem="item-list">
					<img src="img/check.svg" alt="">
					<span>При нахождении сайта за пределами первых десяти позиций выдачи (ТОП-10) оплата за достигнутый результат отсутствует вовсе</span>
				</div>
			</div>
			<div elem="item">
				<div elem="item-title">
					<img src="img/guarantees-img2.svg" alt="">
					<span>Скорость</span>
				</div>
				<div elem="item-list">
					<img src="img/check.svg" alt="">
					<span>От скорости выполнения нами работ по развитию Вашего сайта зависит скорость роста его позиций</span>
				</div>
				<div elem="item-list">
					<img src="img/check.svg" alt="">
					<span>Мы материально замотивированы на быстрый рост позиций Вашего сайта — при нарушении графика работ по нашей вине мы несем убытки</span>
				</div>
			</div>
			<div elem="item">
				<div elem="item-title">
					<img src="img/guarantees-img3.svg" alt="">
					<span>Ответственность</span>
				</div>
				<div elem="item-list">
					<img src="img/check.svg" alt="">
					<span>Мы используем исключительно «белые методы» — легальные и доказавшие свою эффективность технологии продвижения сайтов</span>
				</div>
				<div elem="item-list">
					<img src="img/check.svg" alt="">
					<span>При попадании сайта в бан* все работы по выводу сайта из бана мы выполняем за свой счет. Абонентская плата на период вывода сайта из бана не взимается</span>
				</div>
				<div elem="description">Бан* — блокировка сайта поисковыми системами за черные методы оптимизации</div>
			</div>
		</div>	
	</div>
</div><!-- b-guarantees -->