.b-guarantees
	margin 120px 0 
	
	&__items 
		display flex
		flex-wrap wrap 
		margin-left -30px
	
	&__item 
		width calc(33.33% - 30px)
		margin-left 30px
		&-title 
			display flex
			align-items center
			font-weight bold
			font-size 18px
			line-height 1.2
			color #231F20
			margin-bottom 20px
			span 
				margin-left 20px
				
		&-list 
			display flex
			align-items flex-start
			margin-bottom 20px
			min-height 96px
			span 
				max-width 340px 
				margin-left 10px
				
			img 
				min-width 20px
				
	&__description 
		font-size 12px
		line-height 1.5
		color #000000
		margin-left 30px



	@media screen and (max-width: 1024px) 
		margin 80px 0 
		
		&__item 
			width calc(50% - 20px)
			margin-left 20px
			margin-bottom 20px

		&__items 
			margin-left -20px
			justify-content center
		
	@media screen and (max-width: 768px) 
		margin 60px 0
		
		&__item 
			width 100%
			margin-left 0
			
			&-title 
				justify-content center
				
			&-list 
				justify-content center
				
			
		&__items 
			margin-left 0
			
		&__description
			text-align center
			margin-left 0
		
	@media screen and (max-width: 480px) 
		margin 40px 0 