$system-font = unquote('-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"')

$colors = {
  theme: convert($data.colors.theme),
  accent: convert($data.colors.accent),
}

$fonts = {
  base: $system-font,
  headings: $system-font
}

$body = {
  fontSize: 1rem,
  fontFamily: $fonts.base,
  fontSize: 1rem,
  fontWeight: 400,
  lineHeight: 1.5,
  color: #212529,
  bgc: #fff
}

$selection = {
  bgc: $colors.theme,
  color: #fff
}

$selectionHeadings = {
  bgc: $colors.accent,
  color: #000
}

$placeholders = {
  normal : getColor($body.color, 'hint'),
  focus  : transparent
}


@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff"),
    url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
};

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
};