@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

::-moz-selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #03a9f4;
  color: #fff;
  text-shadow: none;
}

h1::-moz-selection,
.h1::-moz-selection,
h2::-moz-selection,
.h2::-moz-selection,
h3::-moz-selection,
.h3::-moz-selection,
h4::-moz-selection,
.h4::-moz-selection,
h5::-moz-selection,
.h5::-moz-selection,
h6::-moz-selection,
.h6::-moz-selection,
h1 *::-moz-selection,
.h1 *::-moz-selection,
h2 *::-moz-selection,
.h2 *::-moz-selection,
h3 *::-moz-selection,
.h3 *::-moz-selection,
h4 *::-moz-selection,
.h4 *::-moz-selection,
h5 *::-moz-selection,
.h5 *::-moz-selection,
h6 *::-moz-selection,
.h6 *::-moz-selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

h1::selection,
.h1::selection,
h2::selection,
.h2::selection,
h3::selection,
.h3::selection,
h4::selection,
.h4::selection,
h5::selection,
.h5::selection,
h6::selection,
.h6::selection,
h1 *::selection,
.h1 *::selection,
h2 *::selection,
.h2 *::selection,
h3 *::selection,
.h3 *::selection,
h4 *::selection,
.h4 *::selection,
h5 *::selection,
.h5 *::selection,
h6 *::selection,
.h6 *::selection {
  background: #ffc107;
  color: #000;
  text-shadow: none;
}

::-webkit-input-placeholder {
  color: rgba(33,37,41,0.54);
}

:-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

::-moz-placeholder {
  color: rgba(33,37,41,0.54);
}

:-ms-input-placeholder {
  color: rgba(33,37,41,0.54);
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}

input:focus:-moz-placeholder {
  color: transparent;
}

input:focus::-moz-placeholder {
  color: transparent;
}

input:focus:-ms-input-placeholder {
  color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -ms-text-size-adjust: 100%;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,0.1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  -webkit-text-decoration-skip-ink: none;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: 0.5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  -webkit-overflow-scrolling: touch;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
  -webkit-overflow-scrolling: touch;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -webkit-overflow-scrolling: touch;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

blockquote {
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid #03a9f4;
  background-color: rgba(3,169,244,0.03);
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

svg:not(:root) {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.main-svg-sprite {
  display: none;
}

.svg-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  fill: currentColor;
  font-size: 0;
}

.svg-icon__link {
  vertical-align: top;
  fill: inherit;
  width: inherit;
  height: inherit;
}

/* ==========================================================================
  Browser Upgrade Prompt
  ========================================================================== */

.browserupgrade {
  margin: $appGutter 0;
  background: #ccc;
  color: #000;
  padding: $appGutter 0;
}

.theme-color {
  color: ;
}

/**
 * The CSS class screen-reader-text
 *
 * @link https://make.wordpress.org/accessibility/handbook/markup/the-css-class-screen-reader-text/
 */

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
  -webkit-overflow-scrolling: touch;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  -webkit-clip-path: none;
          clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000 ;
}

* {
  min-width: 0;
  min-height: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.app-footer {
  -ms-flex: none;
      flex: none;
}

.app-header {
  -ms-flex: none;
      flex: none;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Gilroy';
}

html {
  min-height: 100%;
  min-height: 100vh;
}

.app {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.app ul a {
  text-decoration: none;
}

.app img {
  max-width: 100%;
}

.app h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 1.3;
  color: #231f20;
  text-align: center;
  font-family: 'Gilroy';
  margin-bottom: 80px;
}

.app__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 100%;
  height: 100vh;
}

.app__content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.app__main {
  -ms-flex: 1 1;
      flex: 1 1;
}

.site-width {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn-1 {
  background: #3cdcd2;
  max-width: 340px;
  width: 100%;
  color: #fff;
  padding: 18px 20px;
}

.btn-1:hover {
  background: #29c5ed;
}

.btn-1,
.btn-2 {
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 2px;
  transition: 0.4s ease all;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.2;
}

.btn-1:hover,
.btn-2:hover {
  color: #fff;
  text-decoration: none;
}

.btn-2 {
  border: 1px solid #3cdcd2;
  color: #3cdcd2;
  width: 100%;
  padding: 17px 20px;
}

.btn-2:hover {
  background: #3cdcd2;
}

.b-advantages {
  margin: 70px 0 120px 0;
}

.b-advantages__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.b-advantages__item {
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
  border-radius: 2px;
  width: calc(25% - 30px);
  margin-left: 30px;
  padding: 30px;
}

.b-advantages__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 12px;
}

.b-advantages__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
}

.b-advantages__num {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
  color: #29c5ed;
  margin-bottom: 20px;
}

.b-audit {
  overflow: hidden;
  margin: 30px 0;
  -webkit-overflow-scrolling: touch;
}

.b-audit__block {
  background-image: url("../img/bg-audit.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  margin: 70px 0;
}

.b-audit__bg {
  position: absolute;
  left: -125px;
  top: -78px;
  z-index: -1;
}

.b-audit__container {
  padding: 115px 130px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-audit__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 20px;
}

.b-audit__info {
  -ms-flex: 1 1;
      flex: 1 1;
}

.b-audit__text {
  font-size: 16px;
  line-height: 1.2;
  color: #231f20;
}

.b-audit__button {
  max-width: 240px;
}

.b-benefits {
  margin: 10px 0 85px 0;
}

.b-benefits__title {
  margin-bottom: 80px;
}

.b-benefits__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-benefits__img {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
}

.b-benefits__items {
  margin-left: 85px;
}

.b-benefits__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
}

.b-benefits__item:before {
  content: '';
  position: absolute;
  width: 1px;
  height: 100%;
  background: #eee;
  left: 7.5px;
  top: 15px;
  z-index: -1;
}

.b-benefits__item:last-child:before {
  content: none;
}

.b-benefits__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 12px;
}

.b-benefits__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
}

.b-benefits__item-block {
  margin-left: 30px;
}

.b-benefits__item-img {
  min-width: 15px;
  background: #fff;
}

.b-cases {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  padding-top: 80px;
  margin: 60px 0 90px 0;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
}

.b-cases__title {
  color: #fff !important;
}

.b-cases__line {
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #eee;
  padding: 6px 0;
}

.b-cases__line:last-child {
  border-bottom: none;
}

.b-cases__part {
  width: 50%;
  padding: 8px 0;
  font-size: 16px;
  line-height: 1.2;
  color: #231f20;
}

.b-cases__part:last-child {
  text-align: center;
  border-left: 1px solid #eee;
}

.b-cases__part--title {
  padding: 0;
  font-size: 16px;
  line-height: 1.2;
  color: #231f20;
}

.b-cases__item {
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 40px 50px 50px;
  margin: 0 15px 40px;
}

.b-cases__item-title {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.3;
  color: #231f20;
  margin-bottom: 20px;
}

.b-cases__item-text {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 16px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 30px;
}

.b-cases__item-text a {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #29c5ed;
}

.b-cases__item-text a:hover {
  text-decoration: none;
}

.b-cases__item-block {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.b-cases__item-img {
  -ms-flex: 1 1;
      flex: 1 1;
}

.b-cases__item-table {
  width: 487px;
  margin-left: 50px;
}

.b-cases__procent {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-cases__procent-item {
  margin-right: 50px;
}

.b-cases__procent-item:last-child {
  margin-right: 0;
}

.b-cases__procent-title {
  font-weight: bold;
  font-size: 34px;
  line-height: 1.4;
  color: #29c5ed;
  margin-bottom: 10px;
}

.b-cases__procent-text {
  font-size: 16px;
  line-height: 1.2;
  color: #231f20;
}

.b-cases__items {
  margin: 0 -15px;
  width: auto !important;
}

.b-cases .owl-prev,
.b-cases .owl-next {
  outline: none;
}

.b-cases .owl-prev svg path,
.b-cases .owl-next svg path {
  fill: #8a8a8a;
  width: 20px;
  height: 20px;
  transition: 0.4s ease all;
}

.b-cases .owl-prev svg:hover path,
.b-cases .owl-next svg:hover path,
.b-cases .owl-prev svg .action path,
.b-cases .owl-next svg .action path {
  fill: #3cdcd2;
}

.b-cases .owl-nav {
  padding: 0 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.b-cases .owl-dots {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 25px;
  margin-left: -15px;
  z-index: -1;
}

.b-cases .owl-dot {
  width: 12px;
  height: 12px;
  border: 1px solid #3cdcd2 !important;
  border-radius: 50%;
  position: relative;
  outline: none;
  margin-left: 15px;
}

.b-cases .owl-dot:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #3cdcd2 !important;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

.b-cases .owl-dot.active:before {
  opacity: 1;
  visibility: visible;
}

.b-form {
  background: linear-gradient(270deg, #3cdcd2 -70.27%, #3cdcd2 3.33%, #29c5ed 70.2%);
}

.b-form__title {
  color: #fff !important;
  margin-bottom: 60px !important;
}

.b-guarantees {
  margin: 120px 0;
}

.b-guarantees__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.b-guarantees__item {
  width: calc(33.33% - 30px);
  margin-left: 30px;
}

.b-guarantees__item-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 20px;
}

.b-guarantees__item-title span {
  margin-left: 20px;
}

.b-guarantees__item-list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-bottom: 20px;
  min-height: 96px;
}

.b-guarantees__item-list span {
  max-width: 340px;
  margin-left: 10px;
}

.b-guarantees__item-list img {
  min-width: 20px;
}

.b-guarantees__description {
  font-size: 12px;
  line-height: 1.5;
  color: #000;
  margin-left: 30px;
}

.b-main {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 50%;
}

.b-main__block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-main__info {
  -ms-flex: 1 0 auto;
      flex: 1 0 auto;
  padding: 120px 0 100px 0;
}

.b-main__info-in {
  max-width: 424px;
  width: 100%;
}

.b-main__title {
  font-weight: bold;
  font-size: 120px;
  line-height: 1.4;
  color: #29c5ed;
  padding-bottom: 5px;
}

.b-main__subtitle {
  font-size: 20px;
  line-height: 1.2;
  color: #29c5ed;
  padding-bottom: 24px;
}

.b-main__subtitle--weight {
  padding-bottom: 12px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #29c5ed;
}

.b-main__text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
  margin-bottom: 24px;
}

.b-main__items {
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 40px 70px 51px;
}

.b-main__items-in {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -92px;
}

.b-main__item {
  width: calc(33.33% - 92px);
  margin-left: 92px;
  text-align: center;
}

.b-main__item-img {
  margin-bottom: 20px;
}

.b-main__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 12px;
}

.b-main__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
}

.b-price {
  margin: 90px 0 120px 0;
}

.b-price__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: start;
      align-items: flex-start;
  margin-left: -30px;
}

.b-price__item {
  width: calc(33.33% - 30px);
  margin-left: 30px;
  text-align: center;
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
  border-radius: 2px;
  padding: 40px 65px 50px 65px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  position: relative;
  z-index: 1;
}

.b-price__item:hover .b-price__item-title {
  color: #fff;
}

.b-price__item:hover .b-price__item-sum {
  color: #fff;
  margin-bottom: 120px;
}

.b-price__item:hover .b-price__button {
  background: #3cdcd2;
  color: #fff;
}

.b-price__item:hover .b-price__bg {
  opacity: 1;
  visibility: visible;
}

.b-price__item-title {
  font-size: 18px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 20px;
  transition: 0.4s ease all;
}

.b-price__item-sum {
  font-weight: bold;
  font-size: 24px;
  line-height: 1.2;
  color: #29c5ed;
  margin-bottom: 40px;
  transition: 0.4s ease all;
}

.b-price__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
  min-height: 96px;
  margin-bottom: 30px;
}

.b-price__item.active .b-price__item-title {
  color: #fff;
}

.b-price__item.active .b-price__item-sum {
  color: #fff;
  margin-bottom: 120px;
}

.b-price__item.active .b-price__button {
  background: #3cdcd2;
  color: #fff;
}

.b-price__item.active .b-price__bg {
  opacity: 1;
  visibility: visible;
}

.b-price__bg {
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: 0.4s ease all;
}

.b-promotion {
  margin: 120px 0 30px 0;
}

.b-promotion__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-left: -30px;
}

.b-promotion__item {
  width: calc(33.33% - 30px);
  margin-left: 30px;
  margin-bottom: 50px;
  text-align: center;
}

.b-promotion__item-title {
  font-weight: bold;
  font-size: 18px;
  color: #231f20;
  line-height: 1.2;
  margin-bottom: 12px;
}

.b-promotion__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
}

.b-promotion__num {
  font-weight: bold;
  font-size: 80px;
  color: #d4f3fb;
  line-height: 1.2;
  margin-bottom: 32px;
  position: relative;
}

.b-promotion__num:before {
  content: '';
  position: absolute;
  width: 68%;
  right: -50%;
  top: 50%;
  -webkit-transform: translate(-15%, -50%);
          transform: translate(-15%, -50%);
  border: 1px dashed #3cdcd2;
}

.b-promotion__num--noline:before {
  content: none;
}

.b-services {
  margin: 120px 0;
}

.b-services__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.b-services__item {
  width: calc(33.33% - 30px);
  margin-left: 30px;
  position: relative;
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
  border-radius: 2px;
}

.b-services__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 12px;
}

.b-services__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
  margin-bottom: 30px;
  -ms-flex: 1 1;
      flex: 1 1;
}

.b-services__img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.b-services__img img {
  opacity: 0;
  visibility: hidden;
}

.b-services__block {
  padding: 30px 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.b-services__sum {
  position: absolute;
  left: -10px;
  top: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background: #29c5ed;
  border-radius: 0px 2px 2px 0px;
  padding: 12px 26px;
}

.b-slider {
  background: #f3f8fc;
  padding: 54px 0;
  margin: 85px 0 40px 0;
}

.b-slider__item img {
  width: auto !important;
  margin: 0 auto;
  display: inline-block !important;
}

.b-slider .owl-item {
  text-align: center;
}

.b-slider .owl-stage {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-slider .owl-prev,
.b-slider .owl-next {
  outline: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.b-slider .owl-prev svg path,
.b-slider .owl-next svg path {
  fill: #8a8a8a;
  width: 20px;
  height: 20px;
  transition: 0.4s ease all;
}

.b-slider .owl-prev svg:hover path,
.b-slider .owl-next svg:hover path,
.b-slider .owl-prev svg .action path,
.b-slider .owl-next svg .action path {
  fill: #3cdcd2;
}

.b-slider .owl-next {
  right: -76px;
}

.b-slider .owl-prev {
  left: -76px;
}

.b-slider .owl-nav {
  display: -ms-flexbox !important;
  display: flex !important;
  -ms-flex-align: center;
      align-items: center;
}

.b-slider2 {
  margin: 120px 0 20px 0;
}

.b-slider2__bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 35px;
}

.b-slider2__item {
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
  border-radius: 2px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  height: calc((100% - 30px) / 2);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.b-slider2__item img {
  max-height: 100%;
}

.b-slider2 .swiper-container {
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
}

.b-slider2 .swiper-wrapper {
  height: 408px;
}

.b-slider2 .swiper-pagination {
  position: relative;
}

.b-slider2 .swiper-button-next,
.b-slider2 .swiper-button-prev {
  position: relative;
  margin-top: 0;
}

.b-slider2 .swiper-button-next:after,
.b-slider2 .swiper-button-prev:after {
  content: none;
}

.b-slider2 .swiper-button-next .active,
.b-slider2 .swiper-button-prev .active {
  color: #3cdcd2;
}

.b-slider2 .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #3cdcd2;
  border-radius: 50%;
  background: #fff;
  position: relative;
  opacity: 1;
  margin: 0 7.5px;
}

.b-slider2 .swiper-pagination-bullet:before {
  content: '';
  position: absolute;
  width: 6px;
  height: 6px;
  background: #3cdcd2;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  visibility: hidden;
}

.b-slider2 .swiper-pagination-bullet-active:before {
  opacity: 1;
  visibility: visible;
}

.b-user {
  position: relative;
  overflow: hidden;
  margin: 20px 0 70px 0;
  -webkit-overflow-scrolling: touch;
}

.b-user:before {
  content: '';
  position: absolute;
  background: linear-gradient(270deg, #3cdcd2 -70.27%, #3cdcd2 3.33%, #29c5ed 70.2%);
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  height: 311px;
  z-index: -1;
}

.b-user__content {
  padding: 15px;
}

.b-user__container {
  background-image: url("../img/bg-user.svg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 91px 108px 91px 103px;
}

.b-user__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  z-index: 1;
}

.b-user__item-block {
  width: 570px;
}

.b-user__item-title {
  margin-bottom: 16px;
  font-weight: bold;
  font-size: 34px;
  line-height: 1.4;
  color: #231f20;
}

.b-user__item-subtitle {
  font-size: 18px;
  line-height: 1.2;
  color: #29c5ed;
  margin-bottom: 30px;
}

.b-user__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
}

.b-user__item-text p {
  margin-bottom: 15px;
}

.b-user__item-text p:last-child {
  margin-bottom: 0;
}

.b-user__img {
  -ms-flex: 1 1;
      flex: 1 1;
}

.b-user__bg {
  position: absolute;
  right: 5px;
  top: -35px;
}

.b-why {
  margin: 30px 0 120px 0;
}

.b-why__container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.b-why__img {
  -ms-flex: 1 1;
      flex: 1 1;
}

.b-why__item {
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 40px;
  max-width: 570px;
  position: relative;
}

.b-why__check {
  position: absolute;
}

.b-why__check--first {
  left: -85%;
  top: 0;
}

.b-why__check--second {
  left: -62%;
  top: -58%;
}

.b-why__check--third {
  left: -83%;
  top: -25%;
}

.b-why__check--fourth {
  left: -37%;
  top: -40%;
}

.b-why__block-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.5;
  color: #231f20;
  margin-bottom: 12px;
}

.b-why__block-text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
}

.b-why__radio {
  min-width: 12px;
  max-width: 12px;
  display: none;
}

.b-work {
  margin: 30px 0 60px 0;
}

.b-work__items {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -30px;
}

.b-work__item {
  width: calc(25% - 30px);
  text-align: center;
  margin-left: 30px;
  margin-bottom: 60px;
}

.b-work__item-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 12px;
}

.b-work__item-text {
  font-size: 16px;
  line-height: 1.5;
  color: #231f20;
}

.b-work__img {
  margin-bottom: 20px;
}

.page-scroller {
  opacity: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: fixed;
  z-index: 1050;
  right: 20px;
  bottom: 20px;
  width: 60px;
  height: 60px;
  background-color: rgba(3,169,244,0.1);
  cursor: pointer;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  transition: opacity 0.16s linear;
  pointer-events: none;
}

.page-scroller__ctrl {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -12px;
  margin-left: -12px;
  fill: #666;
  width: 24px;
  height: 24px;
  transition: -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.page-scroller:hover,
.page-scroller:focus {
  background-color: rgba(3,169,244,0.12);
}

.page-scroller:active {
  background-color: rgba(3,169,244,0.14);
}

.page-scroller--memorized .page-scroller__ctrl {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.page-scroller--memorized,
.page-scroller--visible {
  opacity: 1;
  pointer-events: auto;
}

.remodal {
  padding: 40px 35px;
  margin-bottom: 0;
  max-width: 570px;
  background: #fff;
  box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.remodal-form__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 1.2;
  color: #231f20;
  margin-bottom: 30px;
  text-align: center;
}

.remodal-form__item {
  margin-bottom: 10px;
}

.remodal-form__item input,
.remodal-form__item textarea {
  outline: none;
  border: 1px solid #eee;
  box-sizing: border-box;
  border-radius: 2px;
  font-size: 16px;
  line-height: 19px;
  color: #8a8a8a;
  width: 100%;
  padding: 17px 20px;
}

.remodal-form__item input::-webkit-input-placeholder,
.remodal-form__item textarea::-webkit-input-placeholder {
  color: #8a8a8a;
}

.remodal-form__item input::-moz-placeholder,
.remodal-form__item textarea::-moz-placeholder {
  color: #8a8a8a;
}

.remodal-form__item input:-ms-input-placeholder,
.remodal-form__item textarea:-ms-input-placeholder {
  color: #8a8a8a;
}

.remodal-form__item input::-ms-input-placeholder,
.remodal-form__item textarea::-ms-input-placeholder {
  color: #8a8a8a;
}

.remodal-form__item input::placeholder,
.remodal-form__item textarea::placeholder {
  color: #8a8a8a;
}

.remodal-form__item textarea {
  resize: none;
  height: 55px;
}

.remodal-form__button {
  margin-top: 30px;
  max-width: 230px;
}

.remodal-form__send {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.remodal-form__send-text {
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.2;
  color: #231f20;
}

.remodal-form__send-text a {
  color: #29c5ed;
  text-decoration: underline;
}

.remodal-form__send-text a:hover {
  text-decoration: none;
}

.b-check {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 20px;
  height: 20px;
  min-width: 20px;
}

.b-check input {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
  opacity: 0;
  width: 24px;
  height: 24px;
  z-index: 2;
  cursor: pointer;
  margin-bottom: 0;
}

.b-check__in {
  height: 20px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #3cdcd2;
  background-color: #fff;
  transition: 0.4s ease all;
}

.b-check__in:before {
  content: '';
  display: block;
  position: absolute;
  top: 46%;
  left: 50%;
  height: 6px;
  width: 12px;
  border-left: 2px solid #3cdcd2;
  border-bottom: 2px solid #3cdcd2;
  -webkit-transform: translate(-50%, -46%) rotate(-45deg);
          transform: translate(-50%, -46%) rotate(-45deg);
  opacity: 0;
}

.b-check input:checked + .b-check__in:before {
  opacity: 1;
}

.b-check input:checked + .b-check__in {
  background-color: #fff;
  border: 1px solid #3cdcd2;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@media screen and (max-width: 1340px) {
  .b-slider .owl-next {
    right: 0;
  }

  .b-slider .owl-prev {
    left: 0;
  }
}

@media screen and (max-width: 1280px) {
  .b-benefits__items {
    margin-left: 40px;
  }

  .b-main__info {
    padding: 50px 0;
  }

  .b-price__item {
    padding: 40px 50px 50px;
  }

  .b-services__item-text {
    min-height: 72px;
  }

  .b-user__item-block {
    width: 520px;
  }

  .b-why__container {
    display: block;
    position: relative;
  }

  .b-why__img {
    position: absolute;
    right: 0;
  }

  .b-why__radio {
    display: block;
  }

  .b-why__block {
    margin-left: 20px;
  }

  .b-why__check {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .app h2 {
    font-style: 28px;
  }

  .b-advantages {
    margin: 80px 0;
  }

  .b-advantages__item {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .b-advantages__items {
    margin-left: -20px;
  }

  .b-audit__container {
    display: block;
    padding: 50px;
  }

  .b-audit__title {
    margin-bottom: 10px;
  }

  .b-audit__info {
    margin-bottom: 20px;
  }

  .b-audit__block {
    background-image: none;
    margin: 60px 0;
  }

  .b-audit__container {
    background: #fff;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
  }

  .b-benefits {
    margin: 80px 0;
  }

  .b-benefits__container {
    display: block;
  }

  .b-benefits__items {
    margin-left: 0;
    margin-top: 30px;
  }

  .b-benefits__img {
    text-align: center;
  }

  .b-cases {
    margin: 80px 0;
  }

  .b-cases__item-block {
    display: block;
  }

  .b-cases__item-img {
    margin-bottom: 20px;
  }

  .b-cases__item-table {
    width: 100%;
    margin-left: 0;
  }

  .b-cases__item-text {
    margin-bottom: 20px;
  }

  .b-guarantees {
    margin: 80px 0;
  }

  .b-guarantees__item {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .b-guarantees__items {
    margin-left: -20px;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .b-main__item {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .b-main__items {
    padding: 30px 50px;
  }

  .b-main__items-in {
    -ms-flex-pack: center;
        justify-content: center;
    margin-left: -20px;
  }

  .b-price {
    margin: 80px 0;
  }

  .b-price__item {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .b-price__items {
    margin-left: -20px;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .b-promotion {
    margin: 80px 0;
  }

  .b-promotion__item {
    width: calc(50% - 20px);
    margin-left: 20px;
  }

  .b-promotion__items {
    margin-left: -20px;
  }

  .b-promotion__num:before {
    content: none;
  }

  .b-services {
    margin: 80px 0;
  }

  .b-services__item {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .b-services__item-text {
    min-height: 1px;
  }

  .b-services__items {
    margin-left: -20px;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .b-slider {
    margin: 80px 0;
  }

  .b-slider2 {
    margin: 80px 0;
  }

  .b-user {
    margin: 80px 0;
  }

  .b-user__item {
    display: block;
  }

  .b-user__container {
    background-image: none;
    background: #fff;
    box-shadow: 0px 2px 12px rgba(0,0,0,0.1);
    border-radius: 10px;
    padding: 50px;
  }

  .b-user__img {
    position: absolute;
    right: 20px;
    top: -20px;
    text-align: right;
    z-index: -1;
    opacity: 0.6;
  }

  .b-user__img img {
    width: 80%;
  }

  .b-user__bg {
    right: -25px;
    top: -75px;
  }

  .b-why {
    margin: 80px 0;
  }

  .b-work {
    margin: 80px 0;
  }

  .b-work__item {
    width: calc(33.33% - 30px);
  }
}

@media screen and (max-width: 768px) {
  .app h2 {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .btn-1 {
    font-size: 14px;
  }

  .b-advantages {
    margin: 60px 0;
  }

  .b-advantages__item {
    width: 100%;
    margin-left: 0;
  }

  .b-advantages__items {
    margin-left: 0;
  }

  .b-audit__title {
    font-size: 24px;
  }

  .b-audit__container {
    padding: 30px 20px;
  }

  .b-audit__block {
    margin: 20px 0;
  }

  .b-audit__bg {
    width: 300px;
    left: -20px;
    top: -40px;
  }

  .b-benefits {
    margin: 60px 0;
  }

  .b-benefits__item {
    margin-bottom: 20px;
  }

  .b-benefits__item-block {
    margin-left: 15px;
  }

  .b-benefits__title {
    margin-bottom: 40px !important;
  }

  .b-cases {
    margin: 60px 0;
    padding-top: 60px;
  }

  .b-cases__item {
    padding: 30px;
  }

  .b-cases__item-text {
    display: block;
  }

  .b-cases__item-text a {
    display: block;
    margin-top: 10px;
  }

  .b-cases__item-title {
    margin-bottom: 10px;
  }

  .b-cases__procent {
    -ms-flex-pack: justify;
        justify-content: space-between;
  }

  .b-guarantees {
    margin: 60px 0;
  }

  .b-guarantees__item {
    width: 100%;
    margin-left: 0;
  }

  .b-guarantees__item-title {
    -ms-flex-pack: center;
        justify-content: center;
  }

  .b-guarantees__item-list {
    -ms-flex-pack: center;
        justify-content: center;
  }

  .b-guarantees__items {
    margin-left: 0;
  }

  .b-guarantees__description {
    text-align: center;
    margin-left: 0;
  }

  .b-main__item {
    width: 100%;
    margin-left: 0;
    margin-bottom: 30px;
  }

  .b-main__item:last-child {
    margin-bottom: 0;
  }

  .b-main__items {
    padding: 30px 20px;
  }

  .b-main__items-in {
    margin-left: 0;
  }

  .b-main__title {
    font-size: 90px;
    line-height: 1.2;
  }

  .b-main__info {
    padding: 30px 0;
  }

  .b-main__info-in {
    max-width: none;
  }

  .b-main__block {
    display: block;
  }

  .b-main__subtitle {
    padding-bottom: 12px;
    font-size: 16px;
  }

  .b-main__img {
    display: none;
  }

  .b-price {
    margin: 60px 0;
  }

  .b-price__item {
    width: 100%;
    margin-left: 0;
    padding: 35px;
  }

  .b-price__item-sum {
    margin-bottom: 20px;
  }

  .b-price__item-text {
    min-height: 1px;
  }

  .b-price__items {
    margin-left: 0;
  }

  .b-promotion {
    margin: 60px 0;
  }

  .b-promotion__num {
    margin-bottom: 15px;
    font-size: 60px;
  }

  .b-promotion__item {
    margin-bottom: 20px;
  }

  .b-promotion__item-title {
    font-size: 16px;
  }

  .b-promotion__item-text {
    font-size: 14px;
  }

  .b-services {
    margin: 60px 0;
  }

  .b-services__item {
    width: 100%;
    margin-left: 0;
  }

  .b-services__item-text {
    margin-bottom: 20px;
  }

  .b-services__items {
    margin-left: 0;
  }

  .b-services__block {
    padding: 20px 20px;
  }

  .b-services__sum {
    font-size: 16px;
  }

  .b-slider {
    margin: 60px 0;
  }

  .b-slider2 {
    margin: 60px 0;
  }

  .b-slider2__bottom {
    margin-top: 15px;
  }

  .b-slider2 .swiper-wrapper {
    height: 480px;
  }

  .b-user {
    margin: 60px 0;
  }

  .b-user__img {
    display: none;
  }

  .b-user__item-block {
    width: 100%;
  }

  .b-user__item-title {
    font-size: 24px;
    line-height: 1.2;
  }

  .b-user__container {
    padding: 30px;
  }

  .b-why {
    margin: 60px 0;
  }

  .b-why__img {
    display: none;
  }

  .b-why__block {
    margin-left: 10px;
  }

  .b-why__item {
    max-width: 100%;
    margin-bottom: 20px;
  }

  .b-work {
    margin: 60px 0;
  }

  .b-work__item {
    width: calc(50% - 20px);
    margin-left: 20px;
    margin-bottom: 40px;
  }

  .b-work__items {
    margin-left: -20px;
  }

  .remodal-form__title {
    font-size: 24px;
  }
}

@media screen and (max-width: 480px) {
  .app h2 {
    margin-bottom: 30px;
  }

  .b-advantages {
    margin: 40px 0;
  }

  .b-advantages__item {
    padding: 20px;
  }

  .b-advantages__item-title {
    font-size: 16px;
  }

  .b-advantages__item-text {
    font-size: 14px;
  }

  .b-advantages__num {
    font-size: 28px;
    margin-bottom: 10px;
  }

  .b-benefits {
    margin: 40px 0;
  }

  .b-benefits__item-title {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .b-benefits__item-text {
    font-size: 14px;
  }

  .b-cases {
    margin: 40px 0;
    padding-top: 30px;
  }

  .b-cases__part {
    padding: 6px 0;
  }

  .b-cases__item {
    margin: 0 15px 20px;
    min-height: 993px;
  }

  .b-cases__item-block {
    margin-bottom: 20px;
  }

  .b-cases__item-title {
    font-size: 21px;
  }

  .b-cases__procent {
    display: block;
  }

  .b-cases__procent-item {
    margin-right: 0;
    text-align: center;
    margin-top: 10px;
  }

  .b-guarantees {
    margin: 40px 0;
  }

  .b-main__title {
    font-size: 48px;
  }

  .b-price {
    margin: 40px 0;
  }

  .b-price__bg {
    opacity: 1;
    visibility: visible;
  }

  .b-price__item:hover .b-price__item-sum {
    margin-bottom: 60px;
  }

  .b-price__item-title {
    color: #fff;
  }

  .b-price__item-sum {
    color: #fff;
    margin-bottom: 60px;
  }

  .b-promotion {
    margin: 40px 0;
  }

  .b-promotion__item {
    width: 100%;
    margin-left: 0;
  }

  .b-promotion__items {
    margin-left: 0;
  }

  .b-services {
    margin: 40px 0;
  }

  .b-slider {
    margin: 40px 0;
  }

  .b-slider2 {
    margin: 40px 0;
  }

  .b-slider2__item {
    height: 160px;
  }

  .b-slider2 .swiper-wrapper {
    height: 180px;
  }

  .b-slider2 .swiper-pagination-bullet {
    margin: 0 3px;
  }

  .b-user {
    margin: 40px 0;
  }

  .b-user__item-subtitle {
    margin-bottom: 15px;
    font-size: 16px;
  }

  .b-user__item-text {
    font-size: 15px;
  }

  .b-user__bg {
    top: -10px;
    right: -55px;
  }

  .b-user__bg img {
    width: 80px;
  }

  .b-why {
    margin: 40px 0;
  }

  .b-why__block {
    margin-left: 5px;
  }

  .b-work {
    margin: 40px 0;
  }

  .b-work__item {
    width: 100%;
    margin-left: 0;
  }

  .b-work__item-title {
    font-size: 16px;
  }

  .b-work__item-text {
    font-size: 14px;
  }

  .b-work__items {
    margin-left: 0;
  }

  .b-work__img {
    margin-bottom: 10px;
  }

  .remodal {
    padding: 30px 20px;
  }

  .remodal-form__item textarea,
  .remodal-form__item input {
    padding: 9px 10px;
    font-size: 14px;
  }

  .remodal-form__send-text {
    text-align: left;
  }

  .remodal-form__button {
    margin-top: 15px;
  }
}