<div block="b-advantages">
	<div elem="content" class="site-width">
		<h2 elem="title">Ваши преимущества при работе с нами</h2>
		<div elem="items">
			<div elem="item">
				<div elem="num">01</div>
				<div elem="item-title">Максимум внимания для Вашего проекта</div>
				<div elem="item-text">Руководитель проекта по продвижению и персональный менджер всегда на связи</div>
			</div>
			<div elem="item">
				<div elem="num">02</div>
				<div elem="item-title">2 KPI: рост трафика и позиции</div>
				<div elem="item-text">Рост позиций по ключевым запросам закреплен в договоре, для отслеживания роста посещений настраиваем Я.Метрику</div>
			</div>
			<div elem="item">
				<div elem="num">03</div>
				<div elem="item-title">Финансовые гарантии в договоре</div>
				<div elem="item-text">Закрепляем прогноз роста позиций в договоре и даем на него финансовые гарантии</div>
			</div>
			<div elem="item">
				<div elem="num">04</div>
				<div elem="item-title">Индивидуальные аналитические отчеты</div>
				<div elem="item-text">Отчитываемся по росту трафика, позиций, конверсий. Формируем отчет под потребноси клиента</div>
			</div>
		</div>	
	</div>
</div><!-- b-advantages -->