.b-advantages
	margin 70px 0 120px 0 
	
	&__items 
		display flex
		flex-wrap wrap 
		margin-left -30px
	
	&__item 
		background #FFFFFF
		box-shadow 0px 2px 12px rgba(0, 0, 0, 0.1)
		border-radius 2px
		width calc(25% - 30px)
		margin-left 30px
		padding 30px
		&-title 
			font-weight bold
			font-size 18px
			line-height 1.2
			color #231F20
			margin-bottom 12px
			
		&-text 
			font-size 16px
			line-height 1.5
			color #231F20
		
	&__num 
		font-weight bold
		font-size 36px
		line-height 1.2
		color #29C5ED
		margin-bottom 20px
		
	@media screen and (max-width: 1024px) 
		margin 80px 0

		&__item 
			width calc(50% - 20px)
			margin-left 20px
			margin-bottom 20px
			
		&__items 
			margin-left -20px
			
	@media screen and (max-width: 768px) 
		margin 60px 0
		
		&__item 
			width 100%
			margin-left 0
			 
		&__items 
			margin-left 0
		
	@media screen and (max-width: 480px) 
		margin 40px 0
		
		&__item 
			padding 20px
			
			&-title 
				font-size 16px
				
			&-text 
				font-size 14px
			
		&__num 
			font-size 28px
			margin-bottom 10px
			

