.b-slider
	background #F3F8FC
	padding 54px 0 
	margin 85px 0 40px 0 
	
	&__item 
		img 
			width auto !important
			margin 0 auto 
			display inline-block !important
			
	.owl-item 
		text-align center
	

	.owl-stage 
		display flex
		align-items center
	
	.owl-prev,
	.owl-next 
		outline none 
		position absolute
		top 50%
		transform translateY(-50%)
		svg 
			path 
				fill #8A8A8A
				width 20px
				height 20px
				transition .4s ease all
				
			&:hover 
			.action 
				path 
					fill #3CDCD2
					
	.owl-next 
		right -76px
		
	.owl-prev 
		left -76px
		
	.owl-nav 
		display flex !important
		align-items center
		
	@media screen and (max-width: 1340px)
		.owl-next 
			right 0
			
		.owl-prev 
			left 0
			
	@media screen and (max-width: 1024px) 
		margin 80px 0 
		
	@media screen and (max-width: 768px) 
		margin 60px 0 
		
	@media screen and (max-width: 480px) 
		margin 40px 0 