<div block="b-slider">
	<div elem="content" class="site-width">
		<div elem="items" class="owl-carousel">
			<a href="#" elem="item"><img src="img/slider-img1.svg" alt=""></a>
			<a href="#" elem="item"><img src="img/slider-img2.svg" alt=""></a>
			<a href="#" elem="item"><img src="img/slider-img3.svg" alt=""></a>
			<a href="#" elem="item"><img src="img/slider-img4.svg" alt=""></a>
			<a href="#" elem="item"><img src="img/slider-img5.svg" alt=""></a>
		</div>	
	</div>
</div><!-- b-slider -->