<div block="b-benefits">
	<div elem="content" class="site-width">
		<h2 elem="title">Преимущества SEO</h2>
		<div elem="container">
			<div elem="img"><img src="img/benefits-img1.png" alt=""></div>
			<div elem="items">
				<div elem="item">
					<div elem="item-img">
						<img src="img/radio.svg" alt="">
					</div>
					<div elem="item-block">
						<div elem="item-title">Долгосрочный эффект</div>
						<div elem="item-text">Особой спецификой инструмента поискового продвижения является долговременное сохранение результата, даже после приостановки всех работ.</div>
					</div>
				</div>
				<div elem="item">
					<div elem="item-img">
						<img src="img/radio.svg" alt="">
					</div>
					<div elem="item-block">
						<div elem="item-title">Низкая стоимость привлечения клиента</div>
						<div elem="item-text">Ввиду отсутствия системы аукциона, как в интернет рекламе, а так же постоянному росту трафика, стоимость одного посетителя может составлять менее 3-х рублей.</div>
					</div>
				</div>
				<div elem="item">
					<div elem="item-img">
						<img src="img/radio.svg" alt="">
					</div>
					<div elem="item-block">
						<div elem="item-title">Постоянный рост трафика</div>
						<div elem="item-text">Так как ведётся постоянная оптимизация сайта, в процессе работ расширяется список запросов, что приводит к планомерному росту посещаемости ресурса.</div>
					</div>
				</div>
				<div elem="item">
					<div elem="item-img">
						<img src="img/radio.svg" alt="">
					</div>
					<div elem="item-block">
						<div elem="item-title">Повышение конверсионности</div>
						<div elem="item-text">В процессе оптимизации мы прорабатываем: удобство пользования сайтом, технические показатели, коммерческие факторы и т. д., что прямо влияет на конверсию в продажу.</div>
					</div>
				</div>
			</div>	
		</div>
	</div>
</div><!-- b-benefits -->