.b-benefits
	margin 10px 0 85px  0 
	
	&__title 
		margin-bottom 80px
		
	&__container 
		display flex
		align-items center
		
	&__img 
		flex 1 0 auto 
		
	&__items 
		margin-left 85px
			
	&__item 
		display flex
		align-items flex-start
		margin-bottom 40px
		position relative
		z-index 1
		&:before 
			content ''
			position absolute
			width 1px
			height 100%
			background #EEEEEE
			left 7.5px
			top 15px
			z-index -1
			
		&:last-child 
			&:before 
				content none
		
		&-title 
			font-weight bold
			font-size 18px
			line-height 1.2
			color #231F20
			margin-bottom 12px

		&-text 
			font-size 16px
			line-height 1.5
			color #231F20
			
		&-block 
			margin-left 30px
			
		&-img 
			min-width 15px
			background #fff
			
	@media screen and (max-width: 1280px) 
		&__items 
			margin-left 40px
			
	@media screen and (max-width: 1024px) 
		margin 80px 0 

		&__container 
			display block
			
		&__items 
			margin-left 0
			margin-top 30px
			
		&__img 
			text-align center
			
	@media screen and (max-width: 768px) 
		margin 60px 0 

		&__item
			margin-bottom 20px
			&-block
				margin-left 15px
				
		&__title 
			margin-bottom 40px !important
				
	@media screen and (max-width: 480px) 
		margin 40px 0 
	
		&__item 
			&-title 
				font-size 16px
				margin-bottom 10px
				
			&-text 
				font-size 14px


