.b-promotion
	margin 120px 0 30px 0 
	
	&__items 
		display flex
		flex-wrap wrap 
		justify-content center
		margin-left -30px
		
	&__item 
		width calc(33.33% - 30px)
		margin-left 30px
		margin-bottom 50px
		text-align center
		&-title 
			font-weight: bold;
			font-size: 18px;
			color: #231F20;
			line-height 1.2
			margin-bottom 12px
			
		&-text 
			font-size: 16px;
			line-height: 1.5;
			color: #231F20;

		
	&__num 
		font-weight bold
		font-size 80px
		color #D4F3FB
		line-height 1.2
		margin-bottom 32px
		position relative
		&:before 
			content ''
			position absolute
			width 68%
			right -50%
			top 50%
			transform translate(-15%, -50%)
			border 1px dashed #3CDCD2
			
		&--noline
			&:before 
				content none 


	@media screen and (max-width: 1024px) 
		margin 80px 0 

		&__item 
			width calc(50% - 20px)
			margin-left 20px
			
		&__items 
			margin-left -20px
			
		&__num 
			&:before 
				content none 
			
	@media screen and (max-width: 768px) 
		margin 60px 0 


		&__num 
			margin-bottom 15px
			font-size 60px
			
		&__item 
			margin-bottom 20px
			&-title 
				font-size 16px
				
			&-text 
				font-size 14px
				
	@media screen and (max-width: 480px) 
		margin 40px 0 

		&__item 
			width 100%
			margin-left 0
			
		&__items 
			margin-left 0
			
			
