<div block="b-promotion">
	<div elem="content" class="site-width">
		<h2 elem="title">Ключевые работы по продвижению</h2>
		<div elem="items">
			<div elem="item">
				<div elem="num">01</div>
				<div elem="item-title">Анализ и стратегия</div>
				<div elem="item-text">Анализируем рыночную нишу, конкурентов, определяем точки роста и долгосрочную стратегию продвижения</div>
			</div>	
			<div elem="item">
				<div elem="num">02</div>
				<div elem="item-title">Аудит сайта</div>
				<div elem="item-text">Проводим полный аудит сайта. Собираем поисковые запросы, соответствующие Вашему бизнесу и способные привести клиентов</div>
			</div>	
			<div elem="item">
				<div elem="num" mods="noline">03</div>
				<div elem="item-title">Техническая SEO-оптимизация</div>
				<div elem="item-text">Устраняем технические ошибки на сайте, мешающие индексации и негативно влияющие на рост позиций и трафика</div>
			</div>	
			<div elem="item">
				<div elem="num">04</div>
				<div elem="item-title">Внутренняя оптимизация</div>
				<div elem="item-text">Прорабатываем структуру сайта, навигации, подготавливаем тексты, настраиваем внутреннюю перелинковку. Оптимизируем интерфейс</div>
			</div>	
			<div elem="item">
				<div elem="num" mods="noline">05</div>
				<div elem="item-title">Внешняя оптимизация</div>
				<div elem="item-text">Работа со ссылочными факторами, повышаем траст сайта в поисковых системах. Работаем с показателями отказа и другими ПФ. Готовим отчет о проделанной работе</div>
			</div>	
		</div>	
	</div>
</div><!-- b-promotion -->