<div block="b-price">
	<div elem="content" class="site-width">
		<h2 elem="title">Стоимость</h2>
		<div elem="items">
			<div elem="item">
				<div elem="bg"><img src="img/bg-price.jpg" alt=""></div>
				<div elem="item-title">Фиксированный</div>
				<div elem="item-sum">15 000 ₽/месяц</div>
				<div elem="item-text">Решение с фиксированной стоимостью. Никаких доплат, все включено</div>
				<a href="#" elem="button" class="btn-2">Заказать</a>
			</div>	
			<div elem="item" class="active">
				<div elem="bg"><img src="img/bg-price.jpg" alt=""></div>
				<div elem="item-title">Позиции</div>
				<div elem="item-sum">20 000 ₽/месяц</div>
				<div elem="item-text">Фиксированная стоимость + оплата за нахождение в ТОП-10</div>
				<a href="#" elem="button" class="btn-2">Заказать</a>
			</div>	
			<div elem="item">
				<div elem="bg"><img src="img/bg-price.jpg" alt=""></div>
				<div elem="item-title">Лиды</div>
				<div elem="item-sum">25 000 ₽/месяц</div>
				<div elem="item-text">Фиксированная оплата + от 200 ₽ за лид в месяц. Нахождение позиций в ТОП-10 не оплачивается</div>
				<a href="#" elem="button" class="btn-2">Заказать</a>
			</div>	
		</div>	
	</div>
</div><!-- b-price -->