.b-price
	margin 90px 0 120px  0 
	
	&__items 
		display flex
		flex-wrap wrap 
		align-items flex-start
		margin-left -30px
		
	&__item 
		width calc(33.33% - 30px)
		margin-left 30px	
		text-align center
		background #FFFFFF
		box-shadow 0px 2px 12px rgba(0, 0, 0, 0.1)
		border-radius 2px
		padding 40px 65px 50px 65px 
		display flex
		flex-direction column
		justify-content space-between
		position relative
		z-index 1
		&:hover 
			.b-price__item-title 
				color #fff

			.b-price__item-sum 
				color #fff
				margin-bottom 120px

			.b-price__button 
				background #3CDCD2
				color #fff
				
			.b-price__bg 
				opacity 1
				visibility visible
		
		&-title 
			font-size 18px
			line-height 1.2
			color #231F20
			margin-bottom 20px
			transition .4s ease all
			
		&-sum 
			font-weight bold
			font-size 24px
			line-height 1.2
			color #29C5ED
			margin-bottom 40px
			transition .4s ease all
			
		&-text 
			font-size 16px
			line-height 1.5
			color #231F20
			min-height 96px
			margin-bottom 30px
			
		&.active 
			.b-price__item-title 
				color #fff

			.b-price__item-sum 
				color #fff
				margin-bottom 120px

			.b-price__button 
				background #3CDCD2
				color #fff
				
			.b-price__bg 
				opacity 1
				visibility visible
			
	&__bg 
		position absolute
		left 0
		top 0
		z-index -1
		opacity 0 
		visibility hidden
		transition .4s ease all
		
	@media screen and (max-width: 1280px) 
		&__item 
			padding 40px 50px 50px 
			
	@media screen and (max-width: 1024px) 
		margin 80px 0 

		&__item 
			width calc(50% - 20px)
			margin-left 20px
			margin-bottom 20px
			
		&__items 
			margin-left -20px 
			justify-content center
			
	@media screen and (max-width: 768px) 
		margin 60px 0 

		&__item 
			width 100%
			margin-left 0
			padding 35px
			&-sum 
				margin-bottom 20px
				
			&-text 
				min-height 1px
			
		&__items 
			margin-left 0
			
	@media screen and (max-width: 480px)
		margin 40px 0 

		&__bg 
			opacity 1
			visibility visible
			
		&__item 
			&:hover 
				.b-price__item-sum 
					margin-bottom 60px
			&-title 
				color #fff
				
			&-sum 
				color #fff
				margin-bottom 60px
			
