<div block="b-work">
	<div elem="content" class="site-width">
		<h2 elem="title">Над чем мы работаем?</h2>
		<div elem="items">
			<div elem="item">
				<div elem="img"><img src="img/work-img1.svg" alt=""></div>
				<div elem="item-title">Стратегия</div>
				<div elem="item-text">Разрабатываем и в последующем корректируем стратегию продвижения</div>
			</div>	
			<div elem="item">
				<div elem="img"><img src="img/work-img2.svg" alt=""></div>
				<div elem="item-title">Юзабилити</div>
				<div elem="item-text">Прорабатываем удобство пользования сайтом на десктопе <br> и смартфонах</div>
			</div>	
			<div elem="item">
				<div elem="img"><img src="img/work-img3.svg" alt=""></div>
				<div elem="item-title">Репутация</div>
				<div elem="item-text">Анализируем популярность <br> и репутацию бизнеса, нивелируем негатив</div>
			</div>	
			<div elem="item">
				<div elem="img"><img src="img/work-img4.svg" alt=""></div>
				<div elem="item-title">Аналитика</div>
				<div elem="item-text">Анализируем конкурентов <br> и их стратегии, вносим предложения</div>
			</div>	
			<div elem="item">
				<div elem="img"><img src="img/work-img5.svg" alt=""></div>
				<div elem="item-title">Коммерческие факторы</div>
				<div elem="item-text">Прорабатываем факторы, влияющие на эффективность продаж с сайта</div>
			</div>	
			<div elem="item">
				<div elem="img"><img src="img/work-img6.svg" alt=""></div>
				<div elem="item-title">Ссылочная стратегия</div>
				<div elem="item-text">Размещаем вечные ссылки <br> и выстраиваем безопасную ссылочную стратегию</div>
			</div>	
			<div elem="item">
				<div elem="img"><img src="img/work-img7.svg" alt=""></div>
				<div elem="item-title">Техническая часть</div>
				<div elem="item-text">Оптимизируем скорость загрузки сайта и устраняем технические ошибки</div>
			</div>	
			<div elem="item">
				<div elem="img"><img src="img/work-img8.svg" alt=""></div>
				<div elem="item-title">Конверсии</div>
				<div elem="item-text">Постоянно работаем над увеличением конверсий в продажи</div>
			</div>	
		</div>	
	</div>
</div><!-- b-work -->