.b-work
	margin 30px 0 60px 0 
	

	&__items 
		display flex
		flex-wrap wrap 
		margin-left -30px
		
	&__item 
		width calc(25% - 30px)
		text-align center
		margin-left 30px 
		margin-bottom 60px
		&-title 
			font-weight bold
			font-size 18px
			line-height 1.2
			color #231F20
			margin-bottom 12px
			
		&-text 
			font-size 16px
			line-height 1.5
			color #231F20

	&__img 
		margin-bottom 20px
		

	@media screen and (max-width: 1024px) 
		margin 80px 0 

		&__item 
			width calc(33.33% - 30px)
			
	@media screen and (max-width: 768px) 
		margin 60px 0 


		&__item 
			width calc(50% - 20px)
			margin-left 20px
			margin-bottom 40px
			
		&__items 
			margin-left -20px
			
	@media screen and (max-width: 480px) 
		margin 40px 0 
		

		&__item 
			width 100%
			margin-left 0
			&-title 
				font-size 16px

			&-text 
				font-size 14px
			
		&__items 
			margin-left 0
			
		&__img 
			margin-bottom 10px
			
