<div block="b-slider2">
	<div elem="content" class="site-width">
		<h2 elem="title">Сертифицированное агентство</h2>
		<div class="swiper-container mySwiper">
			<div class="swiper-wrapper">
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img1.png" alt=""></div>
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img2.png" alt=""></div>
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img3.png" alt=""></div>
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img4.png" alt=""></div>
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img5.png" alt=""></div>
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img6.png" alt=""></div>
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img7.png" alt=""></div>
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img8.png" alt=""></div>
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img1.png" alt=""></div>
				<div class="b-slider2__item swiper-slide"><img src="img/certificates-img2.png" alt=""></div>
			</div>
			<div class="b-slider2__bottom">
				<div class="swiper-button-prev">
					<img src="img/arr-l.svg" alt="">
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-next">
					<img src="img/arr-r.svg" alt="">
				</div>
			</div>
		</div>
	</div>
</div><!-- b-slider2 -->