.b-slider2 
  margin 120px 0 20px 0 
  &__bottom 
    display flex
    align-items center
    justify-content space-between
    margin-top 35px
  &__item 
    background: #FFFFFF;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    text-align: center;
    font-size: 18px;
    background: #fff;
    height: calc((100% - 30px) / 2);
    display: flex;
    justify-content: center;
    align-items: center;
    img 
      max-height 100%
  .swiper-container 
    margin-left: -15px;
    margin-right: -15px;
    padding 15px
  
  .swiper-wrapper
    height: 408px;
    
  .swiper-pagination
    position relative
    
  .swiper-button-next,
  .swiper-button-prev
    position relative
    margin-top 0
    &:after 
      content none 
      
    .active 
      color #3cdcd2
    
    
  .swiper-pagination-bullet
    width 12px
    height 12px
    border 1px solid #3CDCD2
    border-radius 50%
    background #fff
    position relative
    opacity 1
    margin 0 7.5px
    &:before 
      content ''
      position absolute
      width 6px
      height 6px
      background #3CDCD2
      border-radius 50%
      left 50%
      top 50%
      transform translate(-50%, -50%)
      opacity 0 
      visibility hidden
      
  .swiper-pagination-bullet-active
    &:before 
      opacity 1
      visibility visible

    
  @media screen and (max-width: 1024px) 
    margin 80px 0 
    
  @media screen and (max-width: 768px) 
    margin 60px 0 
    
    &__bottom 
      margin-top 15px
    
    .swiper-wrapper
      height 480px
    
  @media screen and (max-width: 480px) 
    margin 40px 0 
    
    &__item 
      height 160px
    
    .swiper-wrapper
      height 180px
      
    .swiper-pagination-bullet 
      margin 0 3px
      
