<!doctype html>
<html lang="{{ app.lang }}">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="theme-color" content="{{ app.stylus.theme_color }}">

        <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE" />
        <meta name="format-detection" content="telephone=no">

        <meta name="viewport" content="width=device-width, initial-scale=1">

		<link type="image/png" href="favicon.png" rel="icon">

        <meta name="msapplication-tap-highlight" content="no">

        <meta name="mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-capable" content="yes">

        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">

        {# Open Graph #}
        <!-- Primary Meta Tags -->
        <meta name="title" content="{{ pageTitle }} - {{ app.package.name | capitalize}} v{{ app.package.version }} / {{ git.branch }}">
        <meta name="description" content="{{ app.package.description }}">

        <!-- Open Graph / Facebook -->
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://github.com/solversgroup/marmelad">
        <meta property="og:title" content="{{ pageTitle }}">
        <meta property="og:description" content="{{ app.package.description }}">
        <meta property="og:image" content="https://github.com/solversgroup/marmelad/blob/master/marmelad.svg?sanitize=true">

        <!-- Twitter -->
        <meta property="twitter:card" content="summary_large_image">
        <meta property="twitter:url" content="https://github.com/solversgroup/marmelad">
        <meta property="twitter:title" content="{{ pageTitle }}">
        <meta property="twitter:description" content="{{ app.package.description }}">
        <meta property="twitter:image" content="https://github.com/solversgroup/marmelad/blob/master/marmelad.svg?sanitize=true">
        {# Open Graph End #}

        <title>{{ pageTitle }} - {{ app.package.name | capitalize }} v{{ app.package.version }} / {{ git.branch }}</title>

        <link rel="stylesheet" href="{{ app.storage }}css/plugins.min.css">
        <link rel="stylesheet" href="{{ app.storage }}css/app.css">

        {% block inlineStyles %}{% endblock %}

    </head>

    <body block="app" class="{{ bodyClasses }}">

        {{ inlineSvgSprite() }}


        <div elem="wrapper">

            {% include 'app-header.html' %}

            <div elem="content">

                {% block beforeMain %}{% endblock %}

                <main elem="main">
                    {% block main %}{% endblock %}
                </main><!-- e:main -->


            </div><!-- b:m-content -->
            
            {% include 'app-footer.html' %}

        </div><!-- b:wrapper -->

        {% include 'page-scroller.html' %}

        {% block afterMain %}{% endblock %}

        

        <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&coordorder=longlat" ></script>
        <script src="{{ app.storage }}js/vendors/jquery-3.4.1.min.js"></script>
        <script src="{{ app.storage }}js/plugins.min.js"></script>
        <script src="{{ app.storage }}js/app.js"></script>

    </body><!-- b:w-page -->
</html>
