html,
body
  margin 0
  padding 0
  font-family 'Gilroy'

html
  min-height 100%
  min-height 100vh

.app
  display flex
  flex-direction column
  height 100%
  height 100vh
  
  ul 
    list-style none
    margin 0
    padding 0 
    a 
      text-decoration none
      
  img 
    max-width 100%
  
      
  h2 
    font-weight bold
    font-size 34px
    line-height 1.3
    color #231F20
    text-align center
    font-family 'Gilroy'
    margin-bottom 80px
    
    @media screen and (max-width: 1024px)
      font-style 28px
      
    @media screen and (max-width: 768px) 
      font-size 24px 
      margin-bottom 40px
    
    @media screen and (max-width: 480px) 
      margin-bottom 30px
    

  &__wrapper
    display flex
    flex-direction column
    height 100%
    height 100vh

  &__content
    display flex
    flex 1 0 auto

  &__main
    flex 1
    
    

.site-width 
  max-width 1200px 
  width 100%
  margin 0 auto 
  padding-left 15px
  padding-right 15px

.btn-1 
  background #3CDCD2
  max-width 340px 
  width 100%
  color: #FFFFFF;
  padding 18px 20px 
  &:hover 
    background #29C5ED
    
  @media screen and (max-width: 768px) 
    font-size 14px 
    
.btn-1,
.btn-2 
  display inline-flex
  align-items center
  justify-content center
  text-align center
  outline none 
  border none 
  border-radius 2px 
  transition .4s ease all
  font-weight: bold;
  font-size: 16px;
  line-height 1.2
  &:hover 
    color #fff
    text-decoration none

.btn-2 
  border 1px solid #3CDCD2
  color #3CDCD2
  width 100%
  padding 17px 20px 
  &:hover 
    background #3CDCD2